/* .login {
  width: 100vw;
  height: 100vh;
  background: #ff7717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  background: #ff954a;
  width: 30rem;
  padding: 3rem 2rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.login div {
  background: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

.login input {
  border: none;
  font-family: 'Kumbh Sans', sans-serif;
  outline: none;
  width: 90%;
}

.login div i {
  color: #c9c9c9;
  margin-right: 5px;
}

.login button {
  outline: none;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  border: none;
  color: #fff;
  background: #26a5ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  display: block;
  float: right;
}

.login button:hover {
  opacity: 0.9;
}

.login h3 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
} */

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  z-index: 2;
}

.login form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  position: relative;
  min-height: 200px;
  width: 300px;
}

.login input,
.login button {
  font-family: 'Quicksand', sans-serif;
  outline: none;
}

.login input {
  border: none;
  border-bottom: 1px solid #b4becb;
  color: #047aed;
  font-size: 16px;
  width: 100%;
}

.login input:hover,
.login input:focus {
  border-bottom: 1px solid #047aed;
}

.login form div > i {
  color: #b3adad;
  margin-right: 5px;
  color: #047aed;
}

.login button {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #047aed;
  margin-top: 0.5rem;
}

.login button:hover {
  transform: scale(0.98);
}

.login h3 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.login form > div {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
