.alert {
  color: #fff;
  padding: 1rem;
  border-radius: 2px !important;
  margin: 1rem 0;
  position: relative;
}

.alert.error {
  background-color: #f44336;
}

.alert.success {
  background-color: #46a049;
}

.alert > i {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.alert p,
.alert i {
  font-size: 14px;
}
